*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    
    width: 500px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: larger;
}

