*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    
}

/* Main wrapper container */
.main-wrapper{   
    min-height: 100vh;
    width: 100%;
}

/* Container which hold the main code */
.container{
    display: flex;
    min-height: 100vh;

    
}

/* Hamburger style start */

.hamburger{
    background-color: #04142F;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
    gap: 30px;

}

.expense-tracker{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: larger;
    font-weight: 600;

}


.hamburger-links{
    flex: 1;
    margin-top: 50px;
    
}

.link-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    
}

.link-list a{
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
    font-size: larger;
    font-weight: 500;
   
}

.hamburger-profile{
    margin-top: auto;
}

.hamburger-profile{
    display: flex;
    gap: 10px;
    align-items: center;
}

.hamburger-profile-image{
    font-size: 3rem;
}

.name-email{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Main Dashboard Section */

.dashboard{
    flex: 1;
    display: grid;
    grid-template-rows: 80px 130px 1fr;
    min-width: 0;
}

/* Welcome dashboard header */

.welcome-dashboard{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}



.greet-heading{
    display: flex;
    align-items: center;
    gap: 5px;
}

.greet-heading i{
    font-size: 2rem;
}

/* Dashboard balance section*/

.dashboard-balance{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 20px;
}

.balance{
    padding: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    border-radius: 5px;
    
}

.balance-amount{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    
}

/* current balance style */

.balance-amount-icon{
    font-size: 3rem;
    
    
}

#current-balance-style{
    background-color: rgba(128, 255, 0, 0.100);
    border: 3px solid lawngreen;
}

#green-icon{
    color: chartreuse;
}

.current-balance{
    color: chartreuse;
    font-size: x-large;
    font-weight: 600;
}

.current-balance-text{
    font-size: smaller;
    font-weight: 600;
}

.current-balance-subtext{
    font-size: small;
    color: gray;
}

/* total income style */

.total-income{
    color: blue;
    font-size: x-large;
    font-weight: 600;
}

#total-income-style{
    border: 3px solid blue;
    background-color: rgba(0, 0, 255, 0.100);
}

#blue-icon{
    color: blue;
}

.total-income-text{
    font-size: smaller;
    font-weight: 600;

}

/* Total expense style */

.total-expense-text{
    font-size: smaller;
    font-weight: 600;

}

#total-expense-style{
    border: 3px solid red;
    background-color: rgba(255, 0, 0, 0.100);
}

.total-expense{
    color: red;
    font-size: x-large;
    font-weight: 600;
}

#red-icon{
    color: red;
}

/* Total Transaction style */

.totol-transaction-text{
    font-size: smaller;
    font-weight: 600;
}

#totol-transaction-style{
    border: 3px solid purple;
    background-color: rgba(128, 0, 128, 0.100);
}

.totol-transaction{
    color: purple;
    font-size: x-large;
    font-weight: 600;
}

#purple-icon{
    color: purple;
}

/* dashboard-summary-part1 */
.dashboard-summary{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 10px;

}

/* Add Transaction Form and Category */
.add-transaction-and-categories{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.catgories{
    border: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 9fr;
    padding: 10px;
    gap: 15px;

}

.category-list{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    font-weight: 600;
    align-items: center;
    
}

.grid-style{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr ;
    border-bottom: 2px solid gray;
    width: 90%;
    
}


/* Recent transaction Dashborad And Monthly Trend */
.recent-transaction{
    border: 2px solid black;
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding: 10px;
    gap: 15px;
    min-height: 0;

    
}

.recent-transaction-header{
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}

.transaction-list-heading{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 2fr 0.5fr 1fr;
    font-weight: 600;
    gap: 10px;
    
}

.transaction-list{
    overflow-y: scroll;
    scrollbar-width: none;

}

.transaction-list-heading,
.transaction-row {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 2fr 0.5fr 1fr;
    gap: 10px;
}


/* add-transaction */

.add-transaction{
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;;
    padding: 10px;
    gap: 10px;
    align-items: start;
    
}

.add-transaction button{
    align-self: center;
}

.add-transaction-heading{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    
}

.add-transaction-heading span{
    font-size: medium;
    font-weight: 600;
}

.title-amount{
    display: flex;
    align-items: center;
    gap: 30px;
}


.title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.amount{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label{
    font-weight: 600;
}

#title-input{
    border-radius: 5px;
    min-height: 30px;
    padding-left: 5px;
}


/* Amount */

#amount-input{
    max-width: 150px;
    border-radius: 5px;
    min-height: 30px;
    padding-left: 5px;

}

/* Category and type */

.category-type{
    display: flex;
    align-items: center;
    gap: 30px;
}

.category{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.type{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.list{
    height: 40px;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
}

.date{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date-input{
    max-width: 120px;
    height: 35px;
    border-radius: 5px;
    padding: 3px;
}

.add-transaction-submit{
    width: 200px;
    height: 35px;
    background-color: blue;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    
}




