*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgb(54, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: skyblue;
    width: 90%;
    max-width: 500px;
}

#gradecalcform{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    padding: 10px;

}

.data-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    font-size: medium;
    gap: 5px;
    width: 100%;
    max-width: 300px;


}

.input-field{
   
   height: 35px;
   width: 100%;
   max-width: 300px;
   border-radius: 6px;
   padding: 0px 5px;
   font-weight: 600;
   font-size: medium;
   border:1px solid #ccc;

} 

#btn-container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* background-color: red; */
    /* padding: 0px 10px; */
}

.form-btn{
    background-color: black;
    color: white;
    height: 30px;
    width: 140px;
    font-weight: 600;
    font-size: medium;
    /* outline: none; */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    

}